<form class="commentFormContainer" [formGroup]="commentForm" (ngSubmit)="addComment()">
    <div class="commentFormContainer__commentDropdown">
        <select formControlName="commentType">
            <option value="default">Select comment type</option>
            <option value="internal">Internal</option>
            <option value="external">External</option>
        </select>
    </div>

    <div class="commentFormContainer__commentInput">
        <input type="text" formControlName="commentText">

        <div class="error-container" *ngIf="commentForm.controls['commentText'].invalid">
            <p class="error-item" *ngIf="commentForm.controls['commentText'].errors['minlength']">
                Minimalna długość to 5 znaków.
            </p>
        </div>

    </div>

    <div class="commentFormContainer__commentButton">
        <button type="submit" [disabled]="commentForm.invalid" disabled>Add</button>
    </div>
</form>