<form class="commentFormContainer" [formGroup]="commentForm" (ngSubmit)="addComment()">
    <div class="commentDropdown">
        <select formControlName="commentType">
            <option value="default">Select comment type</option>
            <option value="internal">Internal</option>
            <option value="external">External</option>
        </select>
    </div>

    <div class="commentInput">
        <input type="text" formControlName="commentText">

        <div class="error-container" *ngIf="commentForm.controls['commentText'].invalid &&
        commentForm.controls['commentText'].dirty || commentForm.controls['commentText'].touched">

            <p class="error-item" *ngIf="commentForm.controls['commentText'].errors['required']">
                Pole jest wymagane.
            </p>
            <p class="error-item" *ngIf="commentForm.controls['commentText'].errors['minlength']">
                Minimalna długość to 5 znaków.
            </p>
        </div>

    </div>

    <div class="commentButton">
        <button type="submit" [disabled]="commentForm.invalid">Add</button>
    </div>
</form>