.commentFormContainer {
  display: flex;
  align-items: center;
  height: 45px;
  background-color: rgb(179, 210, 255);

  div {
    display: flex;
    height: 70%;
    padding: 0 5px;
  }

  .commentDropdown {
    flex: 0.15;
    padding-right: 20px;
    select {
      width: 100%;
    }
  }

  .commentInput {
    flex: 0.8;

    input {
      width: 100%;
    }

    input.ng-invalid {
      border: red 1px solid;
    }

    .error-container {
      text-align: center;
      color: red;

      .error-item {
        font-size: 12px;
      }
    }
  }

  .commentButton {
    flex: 0.05;
    padding: 0 20px;

    button {
      padding: 0 30px;
      color: #fff;
      background-color: rgb(65, 105, 225);
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: rgba(65, 105, 225, 0.7);
      }
    }
  }
}
