.commentFormContainer {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: rgb(179, 210, 255);

  div {
    display: flex;
    height: 60%;
    padding: 0 5px;
  }

  .commentDropdown {
    flex: 0.15;
    padding-right: 20px;
    select {
      width: 100%;
    }
  }

  .commentInput {
    flex: 0.8;

    input {
      width: 100%;
    }
  }

  .commentButton {
    flex: 0.05;
    padding: 0 20px;

    button {
      padding: 0 30px;
      color: #fff;
      background-color: royalblue;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
