<table class="costsTable">
    <tr class="costsTable__row2">
        <td>Fire Guard</td>
        <td>Acc-02</td>
        <td>
            <div>
                <span style="font-size: 12px;">{{ selectedValue }}</span>
                <span style="color: black;">{{ baseQuotedValue.toFixed(2) }}</span>
            </div>
            <div>
                <span style="font-size: 12px;">{{ baseCurrency }}</span>
                <span style="font-size: 12px;">{{ baseQuotedValueConvertedToUsd?.toFixed(2) }}</span>
            </div>
        </td>
        <td>
            <input type="number" [placeholder]="selectedValue" [(ngModel)]="inputValue" (input)="onInputChange()">
            <div>
                <span style="font-size: 12px;">{{ baseCurrency }}</span>
                <span style="font-size: 12px;">{{ inputValueConvertedToUsd?.toFixed(2) }}</span>
            </div>
        </td>
        <td>
            <a href="#" type="button" class="commentButton" (click)="toggleCommentGroup()"><span><i
                        class="fa-regular fa-message"></i> 1</span></a>
            <span><i class="fa-solid fa-arrows-up-down-left-right"></i></span>
        </td>
    </tr>
</table>