<app-costs-container></app-costs-container>


<!-- <section class="title">
  <div class="titleContainer">
    <table class="titleTable">
      <tr class="titleTable__row1">
        <td>COSTS</td>
        <td>
          <span>Currency</span>
          <div>
            <select class="dropdown">
              <option value="sgd" selected>SGD</option>
              <option value="usd">USD</option>
              <option value="pln">PLN</option>
              <option value="gbp">GBP</option>
              <option value="eur">EUR</option>
              <option value="chf">CHF</option>
            </select>
          </div>
          <span>1 USD = 1.3161 SGD</span>
        </td>
      </tr>
    </table>
  </div>
</section> -->


<!-- <section class="costs">
  <div class="costsTableContainer">
    <table class="costsTable">
      <tr class="costsTable__row1">
        <td>Port Expenses</td>
        <td>Account code</td>
        <td>Quoted</td>
        <td>Screened</td>
        <td></td>
      </tr>

      <tr class="costsTable__row2">
        <td>Barge Expenses</td>
        <td>Acc-01</td>
        <td>
          <div>
            <span style="font-size: 12px;">SGD</span>
            <span style="color: black;">1000.00</span>
          </div>
          <div>
            <span style="font-size: 12px;">USD</span>
            <span style="font-size: 12px;">759.82</span>
          </div>
        </td>
        <td>
          <input type="text" [placeholder]="placeholder" [(ngModel)]=" inputDefaultValue">
          <div>
            <span style="font-size: 12px;">USD</span>
            <span style="font-size: 12px;">1519.64</span>
          </div>
        </td>
        <td>
          <span><i class="fa-regular fa-message"></i> 1</span>
          <span><i class="fa-solid fa-arrows-up-down-left-right"></i></span>
        </td>
      </tr>
    </table>
  </div>
</section> -->


<!-- <section class="commentOne">
  <div class="commentOneContainer">
    <table class="commentOneTable">
      <tr class="commentOneTable__row1">
        <td>Internal</td>
        <td>Comment 1</td>
        <td>
          <span>Mr.Agency BO</span>
          <span>1 Mar 2021 14:15</span>
          <span><i class="fa-solid fa-pencil"></i> <i class="fa-regular fa-trash-can"></i></span>
        </td>
      </tr>
      <hr>
      <tr class="commentOneTable__row2">
        <td>
          <div>
            <select class="commentDropdown">
              <option value="type" selected>Select comment type</option>
              <option value="active">Comment</option>
            </select>
          </div>
        </td>
        <td>
          <input type="text" placeholder="Type comment">
        </td>
        <td>
          <button>Add</button>
        </td>
      </tr>
    </table>
  </div>
</section> -->