.costGroupContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  margin-bottom: 20px;

  &__showTitle {
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
    background-color: royalblue;

    p {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      width: 100%;
      flex-grow: 1;
      color: #fff;
      font-weight: 700;
      padding: 0 5px;
    }

    p:nth-child(3),
    p:nth-child(4) {
      justify-content: flex-end;
    }

    p:nth-child(5) {
      flex-basis: 150%;
    }
  }

  &__total {
    display: flex;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    padding: 0 5px;
    color: #000;
    background-color: #fff;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 100%;
      width: 100%;
      flex-grow: 1;
      padding: 0 5px;
    }

    div:nth-child(1) {
      font-weight: 700;
    }

    div:nth-child(3),
    div:nth-child(4) {
      align-items: flex-end;
      color: gray;

      p {
        font-size: 13px;
      }
    }

    div:nth-child(5) {
      flex-basis: 150%;
    }

    &--main {
      color: #000;
      font-size: 16px;
    }
  }
}
