.costGroupContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;

  .showTitle {
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
    background-color: royalblue;

    p {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      width: 100%;
      flex-grow: 1;
      color: #fff;
      font-weight: 700;
      padding: 0 5px;
    }

    p:nth-child(3),
    p:nth-child(4) {
      justify-content: flex-end;
    }

    p:nth-child(5) {
      flex-basis: 150%;
    }
  }

  .total {
    display: flex;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    padding: 0 5px;
    color: #fff;
    background-color: rgb(23, 35, 71);
  }
}
