<div class="singleCommentContainer">

    <div class="typeOfComment">
        <p>{{ singleComment.type }}</p>
    </div>

    <div>
        <p>{{ singleComment.comment }}</p>
    </div>

    <div></div>
    <div></div>

    <div>
        <div>
            <p>{{ singleComment.author }}</p>
        </div>

        <div>
            <p>{{ singleComment.date | date: 'mediumDate' }}</p>
        </div>

        <p><i class="fa-solid fa-pencil"></i> <i class="fa-regular fa-trash-can"></i></p>
    </div>
</div>