<div class="singleCommentContainer">

    <div>
        <p [ngClass]="singleComment.type.toLowerCase() === 'internal' ? 'internal' : 'external'">{{ singleComment.type
            }}</p>
    </div>

    <div>
        <p>{{ singleComment.comment }}</p>
    </div>

    <div></div>
    <div></div>

    <div>
        <div>
            <p>{{ singleComment.author }}</p>
        </div>

        <div>
            <p>{{ singleComment.date | date: 'mediumDate' }}</p>
        </div>

        <div>
            <p><i class="fa-solid fa-pencil"></i> <i class="fa-regular fa-trash-can"></i></p>
        </div>
    </div>
</div>