<table class="costsTable">
    <tr class="costsTable__row2">
        <td>Barge Expenses</td>
        <td>Acc-01</td>
        <td>
            <div>
                <span style="font-size: 12px;">SGD</span>
                <span style="color: black;">1000.00</span>
            </div>
            <div>
                <span style="font-size: 12px;">USD</span>
                <span style="font-size: 12px;">759.82</span>
            </div>
        </td>
        <td>
            <input type="text" [placeholder]="placeholder" [(ngModel)]=" inputDefaultValue">
            <div>
                <span style="font-size: 12px;">USD</span>
                <span style="font-size: 12px;">1519.64</span>
            </div>
        </td>
        <td>
            <span><i class="fa-regular fa-message"></i> 1</span>
            <span><i class="fa-solid fa-arrows-up-down-left-right"></i></span>
        </td>
    </tr>
</table>