.singleCostContainer {
  display: flex;
  flex-direction: column;

  &__showData {
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;

    div {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      flex-grow: 1;
      height: 100%;
      width: 100%;
      padding: 0 5px;
    }

    div:nth-child(3),
    div:nth-child(4) {
      align-items: flex-end;
      color: #797676;

      p {
        margin-bottom: 5px;
        font-size: 13px;
      }
    }

    div:nth-child(5) {
      flex-direction: row;
      flex-basis: 150%;
      align-items: center;
      color: #797676;

      button {
        color: #797676;
      }
    }

    &--input {
      position: relative;
      top: 0;
      left: 0;

      input {
        width: 80%;
        height: 40%;
        margin-bottom: 5px;
        color: #000;
        text-align: right;
      }

      &--paragraph {
        position: absolute;
        top: 25%;
        left: 25%;
        font-weight: 700;
      }
    }

    a {
      text-decoration: none;
    }

    &--main {
      color: #000;
      font-size: 15px;
    }
  }
}
