.singleCostContainer {
  display: flex;
  flex-direction: column;

  .showData {
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;

    div {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      flex-grow: 1;
      height: 100%;
      width: 100%;
      padding: 0 5px;
    }

    div:nth-child(3),
    div:nth-child(4) {
      align-items: flex-end;
      color: #797676;
      font-weight: bold;

      p {
        margin-bottom: 5px;
      }
    }

    div:nth-child(5) {
      flex-direction: row;
      flex-basis: 150%;
      align-items: center;
      color: #797676;

      .commentButton {
        color: #797676;
      }
    }

    input {
      width: 80%;
      height: 40%;
      margin-bottom: 5px;
    }

    a {
      text-decoration: none;
    }
  }

  .showCommentGroup {
    flex-basis: 25%;
  }

  .showCommentForm {
    flex-basis: 25%;
  }
}
