<div class="singleCostContainer">
    <div class="singleCostContainer__showData">

        <div>
            <p> {{ singleCost.name }}</p>
        </div>
        <div>
            <p>{{ singleCost.costItemAlias.accountingCode }}
            </p>
        </div>
        <div>
            <p>{{ selectedCurrency }} <span class="singleCostContainer__showData--main">{{
                    quotedValue.toFixed(2) }}</span></p>
            <p>{{ baseCurrency }} {{ calculateQuoted(quotedValue) }}</p>
        </div>
        <div class="singleCostContainer__showData--input">
            <input type="number" [(ngModel)]="inputValue" (ngModelChange)="updateAllCostSum(inputValue)">
            <p class="singleCostContainer__showData--input--paragraph">{{ selectedCurrency }}</p>
            <p>{{ baseCurrency }} {{ calculateScreened() }}</p>
        </div>
        <div>
            <a href="#" type="button">
                <p (click)="commentGroupVisible()"><i class="fa-regular fa-message"></i> 1</p>
                <!--tutaj zamienić statyczną ilosc komentarzy z jsona - uzyc interpolacji-->
            </a>
            <p><i class="fa-solid fa-arrows-up-down-left-right"></i></p>
        </div>
    </div>

    <app-comment-group [comments]="singleCost.comments" *ngIf="toggleCommentGroup"></app-comment-group>
    <app-comment-form [id]="singleCost.id"></app-comment-form> <!-- przekazać cost id w inpucie -->

</div>