<div class="costsContainer">

    <div class="showCosts">
        <h1>Costs</h1>
        <div>
            <h1>Currency</h1>
            <select class="dropdown" (change)="updateSelectedValue($event)" [(ngModel)]="selectedValue">
                <option *ngFor="let currency of paymentCurrencies" [value]="currency.toCurrency">{{
                    currency.toCurrency }}</option>
            </select>

            <p>1 {{baseCurrency}} = {{ correctedCourse }} {{ selectedValue }}</p>
        </div>
    </div>

    <app-cost-group *ngFor="let cost of costsData?.costs" [costGroup]="cost"></app-cost-group>
    <!-- tutaj podwójnie wyświetla mi cost grupe -->


</div>

<!-- <div class="costs-container">
    <app-cost-group
      *ngFor="let costGroup of costs.costs"
      [costGroup]="costGroup"
     [selectedCurrency]="selectedCurrency"
      [exchangeRates]="exchangeRates"
    ></app-cost-group>
  </div> -->


<!-- TAK MA WYGLĄDAĆ STRUKTURA -->

<!-- <app-cost-group>
    <app-single-cost>
      <html> - czyli te rzeczy statyczne z costs.json
      <app-comment-group>
         <app-single-comment>
      </app-comment-group>
      <app-comment-form>
    </app-single-cost>
  </app-cost-group> -->



<!-- <div class="container">
    <table class="titleTable">
        <tr class="titleTable__row1">
            <td>COSTS</td>
            <td>
                <span>Currency</span>
                <div>
                    wywołanie funkcji updateSelectedValue() w komponencie w momencie zmiany wartości w elemencie <select>.
                    <select class="dropdown" (change)="updateSelectedValue($event)" [(ngModel)]="selectedValue">
                        <option *ngFor="let currency of paymentCurrencies" [value]="currency.toCurrency">{{
                            currency.toCurrency }}</option>
                    </select>
                </div>
                <span> 1
                    {{baseCurrency}} = {{ correctedCourse }} {{ selectedValue }}</span>
            </td>
        </tr>
    </table>




    <table class="costsTable">
        <app-cost-group></app-cost-group>
        <app-single-cost></app-single-cost>
        <app-comment-group></app-comment-group>
        <hr>
        <app-second-single-cost></app-second-single-cost>
        <app-second-comment-group></app-second-comment-group>
    </table>

    <table class="summaryTable">
        <tr class="summaryTable__row1">
            <td>Total</td>
            <td></td>
            <td>
                <div>
                    <span style="font-size: 12px;">{{ selectedValue }}</span>
                    <span style="color: black;">{{ baseQuotedValues.toFixed(2) }}</span>
                </div>
                <div>
                    <span style="font-size: 12px;">{{ baseCurrency }}</span>
                    <span style="font-size: 12px;">{{ sumUsdValues.toFixed(2) }}</span>
                </div>
            </td>
            <td>
                <div>
                    <span style="font-size: 12px;">{{ selectedValue }}</span>
                    <span style="color: black;">{{ sumInputValues.toFixed(2) }}</span>
                </div>
                <div>
                    <span style="font-size: 12px;">{{ baseCurrency }}</span>
                    <span style="font-size: 12px;">{{ sumUsdInputValues.toFixed(2) }}</span>
                </div>
            </td>
            <td>
            </td>
        </tr>
    </table>
</div> -->